@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.button {
  box-shadow: 0px 2px 6px 0px rgba(127, 177, 243, 0.4);
  width: 72px;
}
@media (min-width: 768px) {
  .allTasks-input {
    width: 476px;
  }
  .allTasks-button {
    width: 109px;
  }
}
@media (min-width: 1024px) {
  .layout {
    padding: 24rem !important;
    margin-top: -23rem !important;
  }
}
