@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.button {
  box-shadow: 0px 2px 6px 0px rgba(127, 177, 243, 0.4);
  width: 72px;
}
